name: Cota칞칚o do D칩lar

on: [push]  # Executa o workflow quando houver um push

jobs:
  mostrar_cotacao:
    runs-on: ubuntu-latest

    steps:
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'  # Usa a vers칚o mais recente do Python 3

      - name: Obter cota칞칚o do d칩lar
        id: cotacao
        run: |
          # Faz uma requisi칞칚o  API p칰blica para pegar a cota칞칚o USD/BRL
          valor=$(curl -s "https://economia.awesomeapi.com.br/json/last/USD-BRL" | jq -r '.USDBRL.bid')
          
          echo "Cota칞칚o atual do d칩lar: R$ $valor"
          echo "valor=$valor" >> $GITHUB_OUTPUT

      - name: Exibir resultado
        run: |
          echo "游릭 A cota칞칚o do d칩lar 칠: R$ ${{ steps.cotacao.outputs.valor }}"
